@page
@model RutherfordCountyThirdInterviewToddSpainhour.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<div class="create-new-button-container">
    <p>
        <a asp-page="Create" class="btn btn small btn-success">Create New Employee</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].AnnualSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualSalary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn small btn-outline-info" >Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn small btn-outline-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
